

.page1{
    height: 97vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/31087463/pexels-photo-31087463/free-photo-of-fashionable-man-with-sunglasses-and-case.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    .navbar{
        color:white;
    }
}

.page2{
    margin: 20px 0;
    padding: 10px;
    min-height: 100vh;
    width: 100%;
    .navbar{
        color: black;
    }
    h1{
        margin: 10px;
        font-size: 5vw;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        animation: anime2 1s ease-in;
    }
    h1 span{
        color: black;
    }
}


.shopheading{
    margin: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15vw;
    line-height: 1;
    position: absolute; 
    left:0;
    bottom: 1%;
}

.shopcart{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 200px;
    width: 200px;
    font-size: 2vw;
    font-weight: 700; 
}

.shopcart:hover{
    transform: scale(0.9);
     rotate: 35deg;
     transition: all ease-in-out 0.3s;
}


.navbar{
    color: black;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.shoplogo{
    color: white;
    letter-spacing: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    margin: 10px 30px;
    padding: 10px;
}

.shopdesc{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin: 10px 30px;
    gap: 20px;
}

.shopdesc h3:hover{
    color:black;
    transform: scale(0.9);
    transition: all ease-in 0.3s;
}



.shopdesc button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(41, 41, 41);
    color:white;
    padding: 10px;
    border-radius: 50px;
}

button:hover .overlay{
    transform: translateY(0);
    color: rgb(41, 41, 41);
}

.overlay{
    position: absolute;
    height: 100%;
    transform: translateY(-100%);
    color: whitesmoke;
    z-index: 1000;
}

.top-rated-product{
    display: flex;
    overflow-x: auto;
    gap:20px;
    height: 60%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
    flex-wrap: nowrap;
    overflow-y: hidden;

   
}

.top-rated-product::-webkit-scrollbar{
    display: none;
}

.img-slab{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
    flex-wrap: nowrap;
    animation: anime 20s infinite linear;
}



.products{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    line-height: 0.5;
}

.img-slab img{
    border-radius: 5px;
    object-fit: cover;
    height: 50vh;
    width: 50vh;
}

@keyframes anime {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
    
}

.description{
    margin: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.left{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        align-content: first baseline;
        font-size: 3vw;
        animation: anime2 1s ease-in;
    }
    p{  
        margin: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.5;
        font-size: 1.5vw;
        font-weight: 300;
        animation: anime2 1s ease-in;
    }
}

.left h1{
    color: #000;
    animation: anime2 1s ease-in;
}

.content{
    overflow-y: hidden;
    flex-shrink: 0;
    height: fit-content;
}




@keyframes anime2 {
    from {
        transform:translateY(100%);
    }
    to{
        transform: translateY(0%);
    }
}

.page3{
    min-height: 100vh;

}

.tagline{
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;
    gap: 20px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    line-height: 0.5;
}

.tagliner{
    gap: 20px;
    flex-wrap: nowrap;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vw;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.tagline:nth-child(even){
    h1{
        color:black;
        animation: move 15s infinite linear reverse;
    }
}

.tagline:nth-child(odd){
    h1{
        animation: move 15s infinite linear;
    }
}


@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.cart-section{
    position: relative;
}

.cart-background{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid black 2px;
    height: 70%;
    width: 25%;
    border-radius: 50px;
}

.card button{
    width: 90%;
    border-radius: 50px;
    font-weight: 700;
    background-color: rgb(41, 41, 41);
    color: #fff;
    padding: 15px 20px;
}



.card img{
    margin: 20px;
    height: 300px;
    width: fit-content; 
}

.img-description{
    z-index: 900;
    opacity: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    position: absolute;
    right: 5%;
    top: 10%;
    transform: scale(0);
}

.card:hover .img-description{
    opacity: 1;
    transform: scale(1);
    transition: all ease-in 0.3s;
}

.page4{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qoute{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3vw;
    height: 100%;
    h1{
        animation: anime2 1s ease-in;
    }
}

.serial-image{
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    overflow-x: auto;
    gap:20px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

.serial-image .img-slab img{
    align-self: last baseline;
    width: 30%;
}

.serial-image .img-slab img:nth-child(odd){
    width: 300px;
    height: 450px;
    margin: 10px;
    border-radius: 10px;
}

.serial-image::-webkit-scrollbar{
    display: none;
}

.loader{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    font-weight: 600;
    display:flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 800;
    background-color: black;
}

.loader .content{
    overflow: hidden;
}

#timerCounter{
    background-color: aliceblue;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
    text-transform: uppercase;
}

.child-container:hover{
    border-radius: 5px;
    transform: translateY(-30px);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.child-container:hover .img-description{
    opacity: 1;
    display: block;
}

.page5{
    min-height: 200vh;
    h1{
        padding:  0 20px;
        margin: 10px;
        font-size: 5vw;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        animation: anime2 1s ease-in;
    }
    h1 span{
        color: black;
    }
}

.container{
    height: 190vh;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

.child-container{
    position: relative;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    line-height: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: transparent;
}

.child-container img{
    z-index: 100;
    border-radius: 10px;
    margin: 20px;
    height: 300px;
    width: fit-content; 
}

.child-container button{
    width: 80%;
    border-radius: 50px;
    font-weight: 700;
    background-color: rgb(41, 41, 41);
    color: #fff;
    padding: 15px 20px;
}

.quantity{
    width: 70%;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#increment{ 
    margin: 0 10px;
    height: 50px;
    width: 50px;
    font-weight: 700;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    color: #fff;
}

#decrement{
    margin: 0 10px;
    height: 50px;
    width: 50px;
    font-weight: 700;
    background-color: rgb(41, 41, 41);
    border-radius: 50%;
    color: #fff;

}

.image-slab{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 20px 0;
    flex-wrap: nowrap;
    animation: anime 20s infinite linear;
}

.review-section{
    height: 80vh;
    flex-shrink: 0;
}

.user-review{
    min-height: 50vh;
    gap: 30px;
    overflow-x: auto;
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
}

.user-review::-webkit-scrollbar{
    display: none;
}

.reviews:nth-child(even){
    display: flex;
    flex-direction: column;
    justify-content: last baseline;
    margin: 10px 30px;
    width: 40%;
    border-radius: 50px;
    padding: 20px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000;
    color: #fff;
    
    h1{
       
        color: black;
        -webkit-text-stroke-color: white;
        -webkit-text-stroke-width: 2px;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8vh;
    }
}

.reviews:nth-child(odd){
    margin: 10px 30px;
    border-radius: 50px;
    padding: 20px 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(213, 211, 211);
    color: #000;
    width: 40%;
    h1{
         color:  rgb(213, 211, 211);
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 2px;
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 8vh;
    }
}

.page6{
    margin: 20px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    h1{
        padding:  0 20px;
        margin: 10px;
        font-size: 5vw;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        animation: anime2 1s ease-in;
    }
    h1 span{
        color: black;
    }
}

.place-order{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


    .order-container {
       
      background-color: #fff;
      padding: 20px 30px;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      width: 400px;
      text-align: center;
    }

    h2 {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }

    input, select {
      width: 90%;
      padding: 10px 15px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 8px;
      outline: none;
      font-size: 14px;
    }

    .btn {
      background-color:rgb(84, 83, 83);
      color: white;
      padding: 12px;
      border: none;
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
      font-size: 14px;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: rgb(39, 39, 39);
    }

    #confirmation-message {
      margin-top: 15px;
      color: #333;
      font-size: 14px;
    }

    .footer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        gap: 5px;
        color: #fff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #000;
        margin: 20px;
        padding: 20px 60px;

    }

    .address-section{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-left{
        width: 30%;
    }

    .footer-right{
        a{
            text-decoration: none;
            color: #fff;
            margin-bottom: 10px;
            border-bottom: solid white 1px;
        }
        text-align: right;
        width: 30%;
    }

    .footer-heading{
        position: relative;
        overflow: hidden;
        margin: 10px;
        text-align: center;
        color: #fff;
        h1{
            width: 100%;
            font-size: 10vw;
            font-family: fantasy;
            letter-spacing: 2px;
        }
        
        width: 100%;
    }

    .copyright-section{
        margin: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer-heading span{
        display: inline-block;

    }

    .cursor{
        height: 20px;
        width: 20px;
        background-color: #000;
        border-radius: 50%;
        position: fixed;
        z-index: 90;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 0.3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .overlay-product{
        position: absolute;
        height: 80%;
        width: 100%;
        background-color: transparent;
        z-index: 100;
    }

    .overlay-image{
        position: absolute;
        height: 80%;
        width: 100%;
        background-color: transparent;
        z-index: 100;
    }

